* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #3498db; */
    background: url('white-cubes-3d-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 1500px;
    color: #0b0b0b;
    background-attachment:scroll;
}

.myPic {
    height: 250px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Use a percentage for border-radius to ensure circular shape */
    float: right;
}

.hi {
    margin-top: 60px;
    margin-left: 10px;
}

.myInfo {
    max-width: 100%; /* Make sure the content does not overflow on smaller screens */
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    margin: 2px 3px;
    justify-content: center;
}

nav ul li {
    border-radius: 5px;
    margin: 10px 20px;
    transition: transform 0.1s ease;
}

nav ul li:hover {
    transform: scale(1.3);
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    color: #060606;
    font-size: 17px;
    justify-content: center;
}

.navlogo {
    height: 4px;
    width: 23px;
}

.social-button {
    position: relative;
    display: inline-block;
}

.main-button {
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px 20px; /* Adjust padding for better responsiveness */
    font-size: 16px;
    background-color: rgb(58, 54, 54);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-button:hover {
    background-color: #3498db;
}

.options {
    position: absolute;
    width: 202px;
    top: 100%;
    margin-left: 10px;
    left: 0;
    display: none;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.social-button:hover .options {
    display: flex;
    flex-direction: column;
}

.options a {
    padding: 10px;
    text-decoration: none;
    color: #080707;
    transition: background-color 0.3s ease;
}

.options a:hover {
    background-color: #3498db;
}

/* Media query for smaller screens */
@media screen and (max-width: 1057px) {
    nav ul {
        flex-direction: column;
        text-align: center; /* Center-align text on smaller screens */
    }
    .myPic {
        float: none; /* Clear the float on smaller screens */
        margin: 0 auto; /* Center-align the image */
    }
    .myInfo {
        font-size: 20px; /* Reduce font size for smaller screens */
    }
    nav ul li {
        margin: 10px 0;
    }
    nav ul li a {
        padding: 10px 40px; /* Adjust padding for better touch interactions on smaller screens */
    }
}


